.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f9fc;
}

mat-card {
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

mat-form-field {
  width: 100%;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.calendar-card{
  min-width: 461px;
}
